name: Push

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build
        uses: nuitka/nuitka-action@main
        with:
          nuitka-version: 'main'
          script-name: 'autoclicker'
          mode: 'onefile'
          enable-plugins: tk-inter
          windows-icon-from-ico: 'autoclicker/res/icon.ico'
          windows-console-mode: 'disable'
          include-data-dir: 'autoclicker/res=res'
          output-file: 'MoonAutoClicker.exe'

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MoonAutoClicker
          path: build/MoonAutoClicker.exe
